.teampatent-container {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-flow: row;
        z-index: 0;

        workspace & {
                min-width: 1270px;
        }

        .tp-workspace {
                position: relative;
                z-index: 0;
        }
}

.tp-body {
        width: 100%;
        min-width: 320px;
        min-height: 1000px;
        background: green;
        flex: 1;
        display: flex;
        align-content: stretch;
        position: relative;
}