.sidenav{
width: 15%;
position: absolute;
top: 5%;
left: 0;
height: 90vh;    
background-color: brown;    
}

.contentdiv{
        width: 100%;    
        height: 90vh;  
        background-color: burlywood; 
}
