.sidenav {
        width: 15%;
        position: fixed;
        left: 0;
        margin-top: 5px;
        height: 100%;    
        background-color: #f8f9fa;  
        margin-left : -15%;
        transition: margin .3s ease-in-out;
        box-shadow: 0 0.38571rem 0.77143rem rgba(0,0,0,0.2);
        &--in-view {
         margin-left: 0;
        }
}
  